extends layout

block content
    script(src="/javascripts/summary.js")
    div.container-fluid
        div.row
            div.col-md-6
                input(type="number",class="form-control",ng-model="postData.query.amount",ng-change="getTransactions()")
                p.input-group
                    input(type="text",class="form-control",datepicker-popup="dd-MMMM-yyyy",ng-model="postData.query.date",is-open="opened",datepicker-options="dateOptions",date-disabled="disabled(date, mode)",ng-required="true",ng-change="getTransactions()")
                    span.input-group-btn
                        button(type="button",class="btn btn-default",ng-click="open($event)")
                            i.glyphicon.glyphicon-calendar
                table.table.table-striped
                    tr(ng-repeat="txn in txnData")
                        td {{txn._id}}
                        td {{txn.fromCategory}}
                        td {{txn.amount}}
                        td {{txn.description}}
                        td {{txn.toCategory}}
                        td {{txn.date}}
