extends layout


block content
    h1= title
    form#fileUpload(method="post" action="/maintenance/upload" enctype="multipart/form-data") 
        label(for="payload") Select a file to upload:     
        input#payload(type="file" name="myFile" accept=".csv") 
        br 
        button#upload Upload
